/* Status bar styles */
.status-bar {
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    background-color: #d6d6d6;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 30px;
}
